#conteiner p{ /*для всех детей (все степени вложености)*/
  color:blue
}
#conteiner>p{/*для первой степени вложености или только для родных детей*/
  color:red;
}
p+p {/*для соседей (один уровень вложености (с пробелом между тегами в разметке работать не будет))*/
color:black;
}
