.wrappar{
min-width: 50px;
max-width: 300px;
height: 50vh;
width: 50vw;
min-height: 100px;
max-height: 300px;
border: 2px;
border:solid blue;
}
.inner{
  box-sizing: border-box;
width: 40%;/*процент от видимой части браузера ,vh(высота расчитывается от ширины ), vw(ширина от высоти)  */  /*ширину родителя можно не задавать жестко */
height: 40%;/*если не задать жестко высоту родителя то высота ребенка не применится */
border:2px solid red;
overflow: auto;/*подгоняет контент по размеру контейнера (появляеться вертикальный скролл ), так не совсем правильно */
overflow: y scroll;/*тоже что и выше но не изменяет позицию строк (так более правильно )*/

}
