:root{
    font-family: sans-serif;
}
.nav-list{
    font-size: 0;
    text-transform: capitalize;
}
.item{
display: inline-block;
background-color: green;
color: white;
font-size: initial;
/* border: 1px solid black;  */
position: relative;
}
.nav-link{
    display: block;
    padding: 20px;
}
.item:hover{
    background-color: seagreen;
}
.sub-nav-list{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    transition-timing-function: ease-in-out;
}
.sub-nav-list > .item{
display: block;
text-align: center;
}
.item:hover > .sub-nav-list{
    display: block;
}
.sub-nav-list .sub-nav-list{
    width: 100%;
    left: 100%;
    top: 0;
}